/* ----------------------------------------------- 共通 */
/* これ以前のコードは編集しないため省略しています */

.section_title {
  font-size: 36px;
  font-weight: 600;
}

.section_title::after {
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 0 16px;
  width: 100px;
  border-bottom: solid 1px #000000;
}

/* ----------------------------------------------- ナビゲーションバー */

/* 「ナビゲーションバー」〜「アバウト」の間のコードは編集しないため省略しています */

/* ----------------------------------------------- アバウト */

.about::after {
  content: "私たちについて";
}

.about_us_bg {
  background-color: #FFE6A5;
}

/* ----------------------------------------------- ギャラリー */