/* ----------------------------------------------- カルーセル */
.my_carousel_caption {
  font-size: 52px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  font-family: 'Lora', serif;
  line-height: 1.5em;
}

.my_carousel_caption::before {
  content: url(../img/logoSymbol_White.png);
  display: block;
}

@media screen and (max-width:375px) {
  .my_carousel_caption {
    font-size: 27px;
  }
}

.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}